params {
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}

includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

profiles {
    docker {
        docker.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }
    test {
        includeConfig 'conf/test.config'
    }
}

process {
    errorStrategy = 'retry'
    maxRetries    = 3
}
